body {
    background: #000;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    background: #111;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px #0ff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: #0ff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.win {
    box-shadow: 0 0 20px lime;
}
.lose {
    box-shadow: 0 0 20px red;
}